@model mvc.Models.Planner

@{
    ViewData["Title"] = "Удаление";
}

<h3>Уверены, что хотите удалить задачу?</h3>
<div>
    <h4>Задача</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Содержимое задачи :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться к списку задач</a>
    </form>
</div>
